<strong>Goal:</strong> Overview of data structures and common operations in Pandas.

<strong>Series</strong><br>
* [Series](#series)<br>

<strong>DataFrames</strong><br>

* [Loading data](#df_load)<br>
    * From data structure
    * From file<br>
* [Checking dataframe](#df_check)<br>
    * Number of entries
    * Dimensions
    * Number of dimensions
* [Reorganizing dataframe](#df_reorganize)<br>
    * Renaming columns<br>
    * Indexing<br>
* [Select data](#df_select)<br>
* [Retrieving values](#df_retrieve)<br>
* [Adding data](#df_add)<br>
* [Dropping data](#df_drop)<br>
    * By index location<br>
    * By index label<br>
    * By column name<br>
    * By empty values<br>
* [Merging DataFrames](#df_merge)<br>
* [Updating values](#df_update)<br>
* [Summarizing](#df_summarize)<br>
* [TimeStamp](#pd_timestamp)<br><br>

<strong>DataFrames</strong><br>
* [Copy, view, and SettingwithCopyWarning](#pd_view)

In [1]:
import pandas as pd
import numpy as np

## <a id="series"></a> Series

<strong>Description:</strong> A 1D data structure that behaves like a list and a dictionary at the same time, i.e. it is ordered and values can be accessed with indices and/or labels.

In [2]:
# With a list without specifiying the labels (index=)
s = pd.Series(['Paris', 'Tokyo', 'Ottawa'])
s

0     Paris
1     Tokyo
2    Ottawa
dtype: object

In [3]:
# With a list and specify the labels 
s = pd.Series(['Paris', 'Tokyo', 'Ottawa'], index=['France', 'Japan', 'Canada'])
s

France     Paris
Japan      Tokyo
Canada    Ottawa
dtype: object

In [4]:
# With a dictionary
s = pd.Series({'France': 'Paris', 
               'Japan': 'Tokyo',
               'Canada': 'Ottawa'})
s

France     Paris
Japan      Tokyo
Canada    Ottawa
dtype: object

In [5]:
# Retrieve values

# from index
print(s['France'], s.loc['France']) 

# from position
print(s[0], s.iloc[0])

Paris Paris
Paris Paris

In [6]:
print('Series values: {}'.format(s.values))
print('Series index: {}'.format(s.index))

Series values: ['Paris' 'Tokyo' 'Ottawa']
Series index: Index(['France', 'Japan', 'Canada'], dtype='object')

## DataFrame

<strong>Description:</strong> A 2D Series-like object. We can initialize a DataFrame from several Series or dictionaries.

### <a id='df_load'></a> Loading data

#### From data structures

In [7]:
# One dictionary per row
article_1 = {'Author': 'John', 'Topic': 'Politics', 'Length': 1284, 'Date': '28/05/19'} # row 1
article_2 = {'Author': 'Jane', 'Topic': 'Economy',  'Length': 2489, 'Date': '14/11/18'} # row 2
article_3 = {'Author': 'Jim',  'Topic': 'Culture',  'Length': 1529, 'Date': '05/03/19'} # row 3

df = pd.DataFrame([article_1, article_2, article_3], index=['Journal 1', 'Journal 1', 'Journal 2'])
df.head()

          Author      Date  Length     Topic
Journal 1   John  28/05/19    1284  Politics
Journal 1   Jane  14/11/18    2489   Economy
Journal 2    Jim  05/03/19    1529   Culture

In [8]:
# One Series per row
article_1 = pd.Series({'Author': 'John', 'Topic': 'Politics', 'Length': 1284, 'Date': '28/05/19'})
article_2 = pd.Series({'Author': 'Jane', 'Topic': 'Economy',  'Length': 2489, 'Date': '14/11/18'})
article_3 = pd.Series({'Author': 'Jim',  'Topic': 'Culture',  'Length': 1529, 'Date': '05/03/19'})

df = pd.DataFrame([article_1, article_2, article_3], index=['Journal 1', 'Journal 1', 'Journal 2'])
df.head()

          Author     Topic  Length      Date
Journal 1   John  Politics    1284  28/05/19
Journal 1   Jane   Economy    2489  14/11/18
Journal 2    Jim   Culture    1529  05/03/19

#### From file

In [9]:
# df = pd.read_excel('data.xls') # excel file
df = pd.read_csv('data.csv')   # csv file

df

  Unnamed: 0 Author     Topic  Length      Date
0  Journal 1   John  Politics    1284  28/05/19
1  Journal 1   Jane   Economy    2489  14/11/18
2  Journal 2    Jim   Culture    1529  05/03/18
3  Journal 2   Jean   Science    2392  23/02/19

### <a id='df_check'></a>Checking dataframe

In [10]:
df.size # Number of entries

20

In [11]:
df.shape # Dimensions

(4, 5)

In [12]:
df.ndim # Number of dimensions

2

### <a id='df_reorganize'></a>Reorganizing dataframe

In [13]:
df = pd.read_csv('data.csv')

#### Renaming columns

In [14]:
df = df.rename(columns={'Unnamed: 0': 'Journal', 
                        'Length': 'Word count'})

# old = ['Unnamed: 0', 'Length']
# new = ['Journal', 'Word count']
# df = df.rename(columns=dict(zip(old, new)))

df

     Journal Author     Topic  Word count      Date
0  Journal 1   John  Politics        1284  28/05/19
1  Journal 1   Jane   Economy        2489  14/11/18
2  Journal 2    Jim   Culture        1529  05/03/18
3  Journal 2   Jean   Science        2392  23/02/19

#### Setting index

In [15]:
# From already existing column
df = df.set_index('Journal') 
df

          Author     Topic  Word count      Date
Journal
Journal 1   John  Politics        1284  28/05/19
Journal 1   Jane   Economy        2489  14/11/18
Journal 2    Jim   Culture        1529  05/03/18
Journal 2   Jean   Science        2392  23/02/19

In [1]:
# Delete index name
del df.index.name
# or
# df.index.name = None
df

NameError: name 'df' is not defined

#### Resetting index

In [17]:
# Reset index and keep labels as a new column
df = df.reset_index()
df

       index Author     Topic  Word count      Date
0  Journal 1   John  Politics        1284  28/05/19
1  Journal 1   Jane   Economy        2489  14/11/18
2  Journal 2    Jim   Culture        1529  05/03/18
3  Journal 2   Jean   Science        2392  23/02/19

In [18]:
df = df.rename(columns={'index':'Journal'}).set_index('Journal')

# Reset index and drop the labels (also used to reinitialize index positions starting at 0)
df = df.reset_index(drop=True)
df

  Author     Topic  Word count      Date
0   John  Politics        1284  28/05/19
1   Jane   Economy        2489  14/11/18
2    Jim   Culture        1529  05/03/18
3   Jean   Science        2392  23/02/19

### <a id='df_select'></a>Select (view) data

In [19]:
df = pd.read_csv('data.csv')
df = (df.rename(columns={'Unnamed: 0': 'Journal', 'Length': 'Word count'})
        .set_index('Journal'))
del df.index.name

#### By index

In [20]:
# By index labels
df.loc[['Journal 1']]

          Author     Topic  Word count      Date
Journal 1   John  Politics        1284  28/05/19
Journal 1   Jane   Economy        2489  14/11/18

In [21]:
# By index position
df.iloc[[0]]

          Author     Topic  Word count      Date
Journal 1   John  Politics        1284  28/05/19

#### By column(s)

In [22]:
df[['Topic', 'Author']]

              Topic Author
Journal 1  Politics   John
Journal 1   Economy   Jane
Journal 2   Culture    Jim
Journal 2   Science   Jean

#### By index label and column

In [23]:
df.loc[['Journal 1'], ['Author', 'Date']]

          Author      Date
Journal 1   John  28/05/19
Journal 1   Jane  14/11/18

In [24]:
df[['Author', 'Date']].loc[['Journal 1']]

          Author      Date
Journal 1   John  28/05/19
Journal 1   Jane  14/11/18

#### By index position and column

In [25]:
df[['Author', 'Date']].iloc[1:]

          Author      Date
Journal 1   Jane  14/11/18
Journal 2    Jim  05/03/18
Journal 2   Jean  23/02/19

#### By cell values (boolean mask)

In [26]:
df[df['Word count'] < 2000]

          Author     Topic  Word count      Date
Journal 1   John  Politics        1284  28/05/19
Journal 2    Jim   Culture        1529  05/03/18

#### Except specified column

In [41]:
df.loc[:, df.columns != 'Author']

              Topic  Word count      Date Language
Journal 1  Politics        1284  28/05/19     None
Journal 1   Economy        2489  14/11/18     None
Journal 2   Culture        1529  05/03/18     None
Journal 2   Science        2392  23/02/19     None

#### Except multiple columns

In [44]:
df.loc[:, ~df.columns.isin(['Author', 'Date'])]

              Topic  Word count Language
Journal 1  Politics        1284     None
Journal 1   Economy        2489     None
Journal 2   Culture        1529     None
Journal 2   Science        2392     None

### <a id='df_retrieve'></a>Retrieving values

In [27]:
# Column names
list(df.columns)

['Author', 'Topic', 'Word count', 'Date']

In [28]:
# Index labels
list(df.index)

['Journal 1', 'Journal 1', 'Journal 2', 'Journal 2']

In [29]:
# Single cell value by location and column
df['Author'].iloc[2]

'Jim'

In [30]:
# Values by column and labels as list
list(df['Author'].loc['Journal 1'])

['John', 'Jane']

### <a id=df_add></a>Adding data

In [31]:
df = pd.read_csv('data.csv')
df = (df.rename(columns={'Unnamed: 0': 'Journal', 'Length': 'Word count'})
        .set_index('Journal'))
del df.index.name
df

          Author     Topic  Word count      Date
Journal 1   John  Politics        1284  28/05/19
Journal 1   Jane   Economy        2489  14/11/18
Journal 2    Jim   Culture        1529  05/03/18
Journal 2   Jean   Science        2392  23/02/19

#### Adding a new column

In [32]:
# New column with default value
df['Language'] = None
df

          Author     Topic  Word count      Date Language
Journal 1   John  Politics        1284  28/05/19     None
Journal 1   Jane   Economy        2489  14/11/18     None
Journal 2    Jim   Culture        1529  05/03/18     None
Journal 2   Jean   Science        2392  23/02/19     None

In [33]:
# New column with specified values
df['Language'] = ['English', 'English', 'French']
df

ValueError: Length of values does not match length of index

#### Row

In [ ]:
# New row
df.loc['Journal 3'] = ['Jet', 'Politics', 1425, '23/10/18', 'German']
df

#### Adding new empty columns

In [ ]:
df = pd.concat(df, pd.DataFrame(columns=['col1', 'col2', 'col3']))

### <a id='df_drop'></a>Dropping data

#### By index location

In [ ]:
df.drop(df.index[:2], axis=0)

#### By index label

In [ ]:
df.drop(['Journal 1'], axis=0)

#### By column name

In [ ]:
df.drop(['Language'], axis=1)

#### By empty values

In [ ]:
df.dropna()

### <a id='df_merge'></a>Merging dataframes

In [ ]:
# Define left set
staff_df = pd.DataFrame([{'Name': 'Mark', 'Role': 'Director of HR'},
                         {'Name': 'Mabel', 'Role': 'Course liasion'},
                         {'Name': 'Joe', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
staff_df

In [ ]:
# Define right set
student_df = pd.DataFrame([{'Name': 'Mark', 'School': 'Business'},
                           {'Name': 'Mabel', 'School': 'Law'},
                           {'Name': 'Jenny', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
student_df

#### Set union

In [ ]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

#### Set intersection

In [ ]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

#### Include columns from right set to entries in left set

In [ ]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

#### Include columns from left set to entries in right set

In [ ]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

#### Merge from column name (instead of index)

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name') # Merge by column "Name"

### <a id='df_update'></a>Updating values

In [ ]:
df = pd.read_csv('data.csv')
df = (df.rename(columns={'Unnamed: 0': 'Journal', 'Length': 'Word count'})
        .set_index('Journal'))
del df.index.name
df

#### Replacing

In [ ]:
# Replace different entries in one column by distinct values
df.replace({'Author': {'John': 'John D.', 
                       'Jane': 'Jane F.', 
                       'Jim': 'Jim B.'}})

In [ ]:
# Replace the entries with specific values in specified columns with fixed value
df.replace({'Topic': 'Economy'}, 'Econ')

In [ ]:
# Replace the entries with regular expressions
df.replace(r'([0-9]{2}/[0-9]{2})/[0-9]{2}', r'\1', regex=True)

#### Applying functions

In [ ]:
# Lambda function
df['Word count'].apply(lambda x: x*10)

In [ ]:
# Function
def format_date(row):
    time = pd.to_datetime(row)
    return time.strftime('%Y-%m-%d')

df['Date'].apply(format_date)

#### Updating column value based on value in other column

### <a id='df_summarize'></a> Summarizing data

In [ ]:
df = pd.read_csv('data.csv')
df = (df.rename(columns={'Unnamed: 0': 'Journal', 'Length': 'Word count'}))
df['Views'] = [5332, 3940, 1304, 7394]
del df.index.name
df

#### Single operation on a column

In [ ]:
df['Journal'].value_counts()

#### Multiple operations on a column

In [ ]:
df.groupby('Journal').describe()

In [ ]:
df[['Views']].describe()

In [ ]:
stats = df.groupby('Journal')['Views'].agg([np.size, np.sum, np.mean, np.std, np.min, np.max])
del stats.index.name
stats

In [ ]:
# stats = df['Views'].agg([np.size, np.sum, np.mean, np.std, np.min, np.max], axis="columns")
# del stats.index.name
# stats

In [ ]:
# Set new column as operation over multiple columns

#### Initialization

In [ ]:
# Initialize dataframe from several Series
article_1 = pd.Series({'Author': 'John',
                        'Topic': 'Politics',
                        'Length': 1284,
                        'Date': 190528})
article_2 = pd.Series({'Author': 'Jane',
                        'Topic': 'Economy',
                        'Length': 2489,
                        'Date': 181114})
article_3 = pd.Series({'Author': 'Jim',
                        'Topic': 'Culture',
                        'Length': 1529,
                        'Date': 190305})
df = pd.DataFrame([article_1, article_2, article_3], index=['Journal 1', 'Journal 1', 'Journal 2'])
df.head()

#### Data Selection

In [ ]:
# Select values from row names: use "iloc" and "loc"
df.loc['Journal 1']

In [ ]:
# Select values from column names: use dataframe indexing
df[['Topic']] # Must specify column names as a list

In [ ]:
# Select values from rows and column names
df.loc['Journal 1', ['Topic']] # row, cols

#### DataFrame vs Series when selecting

In [ ]:
print(type(df['Topic']))
print(type(df[['Topic']]))
print(type(df.loc['Journal 1', 'Topic']))
print(type(df.loc['Journal 1', ['Topic']]))

#### Chaining when selecting

Chaining is not recommended in Pandas as it creates copies of the original dataframe instead of returning a view.

In [ ]:
# Select by row and col names
df.loc[['Journal 1']][['Length']]

In [ ]:
# Select by col and row names
df[['Length']].loc['Journal 1']

#### Dropping data

In [ ]:
df.drop('Journal 1', axis=0)

In [ ]:
df.drop('Length', axis=1)

In [ ]:
# The above two operations do not affect the original dataframe
df

In [ ]:
# Create a copy of the dataframe and drop the unwanted rows (recommended to prevent dropping original data)
copy_df = df.copy()
copy_df = copy_df.drop('Journal 1')
copy_df

#### Adding a new column

In [ ]:
# NEw column with default value
df['Language'] = None
df

#### Querying DataFrames

In [ ]:
# Creating a boolean mask for a dataframe
df['Length'] < 2000

In [ ]:
# Applying the boolean mask
short_articles = df.where(df['Length'] < 2000)
short_articles

In [ ]:
# Shorthand expression to apply boolean mask and remove unwanted rows
short_articles = df[df['Length'] < 2000]
short_articles

In [ ]:
# Multiple boolean masks
medium_articles = df[(df['Length'] > 1500) & (df['Length'] < 2000)]
medium_articles

#### Indexing DataFrames

In [ ]:
# Changing the index to Date
date_df = df.copy()
date_df['Journal'] = date_df.index # Preserve the Journal entries
date_df = date_df.set_index('Date') # Set the index to the date
date_df

In [ ]:
# Multilevel-indexing by Journal, then by Author
journal_df = date_df.copy()
journal_df['Date'] = journal_df.index # Preserve the Date entries
journal_df = journal_df.set_index(['Journal', 'Author'])
journal_df

In [ ]:
# Querying multilevel index by row names
journal_df.loc['Journal 1', 'Jane']

In [ ]:
# Querying multiple individual rows by row names
journal_df.loc[[('Journal 1', 'Jane'), ('Journal 2', 'Jim')]]

#### Merging DataFrames

In [ ]:
journal_df = pd.DataFrame([{'Author': 'John', 'Topic': 'Economy', 'Length': 1843},
                   {'Author': 'Jane', 'Topic': 'Science', 'Length': 2103},
                   {'Author': 'Jim', 'Topic': 'Technology', 'Length': 1405}],
                   index=['Journal 1', 'Journal 1', 'Journal 2'])
journal_df

In [ ]:
# Adding new columns with specified scalar or vector values
journal_df['Date'] = ['Dec 1', 'Jan 1', 'May 3'] # vector
journal_df['Published'] = True # scalar
journal_df

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Mark', 'Role': 'Director of HR'},
                         {'Name': 'Mabel', 'Role': 'Course liasion'},
                         {'Name': 'Joe', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'Mark', 'School': 'Business'},
                           {'Name': 'Mabel', 'School': 'Law'},
                           {'Name': 'Jenny', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')

In [ ]:
# UNION i.e. [staff_df UNION student_df]
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

In [ ]:
# INTERSECTION i.e. [staff_df INTERSECT student_df]
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

In [ ]:
# LEFT SET i.e. [[staff_df NOT student_df] UNION [staff_df INTERSECT student_df]] (left circle)
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

In [ ]:
# RIGHT SET i.e. [[student_df NOT staff_df] UNION [staff_df INTERSECT student_df]] (right circle)
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

In [ ]:
# Use column  index
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

When you need to preserve the order of the rows, using how="left" or "right" might work

#### Apply

In [ ]:
# Apply a function to a dataframe
journal_df = pd.DataFrame([{'Author': 'John', 'Topic': 'Economy', 'Length': 1843},
                   {'Author': 'Jane', 'Topic': 'Science', 'Length': 2103},
                   {'Author': 'Jim', 'Topic': 'Technology', 'Length': 1405}],
                   index=['Journal 1', 'Journal 1', 'Journal 2'])

def

#### Pandas datetime

Pandas can handle dates in various formats:
1 January 2000
Jan 1, 2000
2000-01-01
1/1/00

In [ ]:

dates = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
for d in dates:
    print(pd.to_datetime(d, dayfirst=True))

In [ ]:
pd.to_datetime('2019q1')

In [ ]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

In [ ]:
pd.Timestamp('01 2000') + pd.Timedelta('1M')

### <a id='pd_view'></a>View, Copy and SettingwithCopyWarning

### <a id='pd_timestamp'></a>TimeStamp

#### Converting string to timestamp

In [ ]:
df['date'] = pd.to_datetime(df['date'])